.aside {
  width: 200px;
  top: 0px;
  left: 0px;
  float: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgb(199, 199, 199);
  padding: 1rem;
  background-color: #f1f3f8;
  border-right: 3px solid #94633b;
  padding-top: 10px;
  height: auto;
  box-shadow: 0px 0px 4px hsl(210deg 12% 75%);
}
