@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import "rsuite/dist/rsuite.css";


.grid-cols-3 {
  grid-template-columns: repeat(4,minmax(0,1fr));
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid;
  padding: 5px;
  border-radius: 4px;
}

.note-content {
  margin-top: 2rem;
}

.card-text:last-child{
  padding: 10px;
}

.bg-red-700 {
background-color: rgba(148, 99, 59,var(--bg-opacity));
}

.navAuthButton{
  width: 50px;
  height: 50px;
}

.center {
  height: 100vh;
  display: flex;
}

.note {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 20px;
  cursor: default;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative
}

.note:focus,
.note:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15)
}

.note:focus svg,
.note:hover svg {
  opacity: .75
}

.note h1 {
  font-size: 18px
}

.note pre {
  font-family: Roboto, system, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Arial, sans-serif;
  white-space: pre-wrap
}

.note svg {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer
}

.note .empty {
  color: rgba(0, 0, 0, .5);
  font-size: 24px;
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif
}

.notes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  position: relative;
  margin: 50px auto
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9
}

.create-note {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 10
}

.create-note,
.create-note button {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15)
}

.create-note button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #61DAFB;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 1;
  text-align: center
}

.create-note button span {
  margin-top: -3px
}

.modal-backdrop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 89.8%, .75);
  z-index: 100
}

.modal,
.modal-backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.modal {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 25px;
  padding-top: 20vh
}

.edit-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px 20px 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.edit-form input {
  margin-bottom: 20px
}

.edit-form .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.edit-form .modal-footer .submit-button {
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px
}

.edit-form .modal-footer .submit-button:focus,
.edit-form .modal-footer .submit-button:hover {
  background-color: rgba(0, 0, 0, .08)
}

.edit-form .modal-footer .delete-button {
  width: 35px;
  padding: 8px;
  margin-left: -8px;
  opacity: .5
}

.edit-form .modal-footer .delete-button:focus,
.edit-form .modal-footer .delete-button:hover {
  opacity: 1
}

.modal-enter,
.modal-leave-active {
  opacity: 0
}

.modal-enter form,
.modal-leave-to form {
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.modal-enter-active,
.modal-leave-active {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.pro-sidebar {
    width: 335px !important;
    display: inline-block;
    height: 100vh !important;
	  vertical-align: top;
    top: 0;
    bottom: 0 !important;
    position: fixed;
    background-color: darkslategrey !important;
}

.min-h {
  min-width: 75vh;
}

.pBlog {
  font-size: 10px;
  color: black;
  opacity: 75%;
  background-color: #f6ad55;
}

.profile{
  min-width: 15%;
  border: 1px solid #dcdcdc;
  padding: 20px;
  position: absolute;
  left: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(166, 118, 80);
}

.profile p {
  text-align: left;
}

.profile > span{
  color: blue;
  margin-top: 30px;
  cursor: pointer;
}

.auth{
  width: 90%;
  max-width: 400px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 20px;
  margin:auto;
  text-align: center;
  border-bottom: 3px solid #94633b;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 20px;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.auth form > input, button{
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
}

.verifyEmail {
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
  text-align: center;
  padding: 40px 20px;
  background-color: hsl(210, 10%, 98%);
  border-bottom: 3px solid #94633b;
}

.border-green-400 {
  border-color: #94633b !important;
}

.verifyEmail h1{
  font-weight: 300;
  margin-top: 0;
}

.verifyEmail > p{
  line-height: 25px;
}

.verifyEmail > span{
  color: gray;
}

.verifyEmail > button {
  margin-top: 35px;
}

:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
  padding: 0%;
  margin: 0%;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #bd5500;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  margin:40px;
}

a {
  color: white;
  text-decoration: none;
}

input,
textarea {
  margin-top: 5px;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron-fluid {
  background-color: #bd5500 !important;
}

.footer {
  padding: 3.07rem 2.3rem 2.3rem;
  border-top: 3px solid #000;
  border-radius: 5px 5px 0 0;
  color: #e4e9f0;
  background: rgb(169 154 140);
}

.fin-float{
  float: right;
  position: relative;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.finner {
    border-top: 1px solid #000;
    padding-top: 1.53rem;
    margin-top: 0.76rem;
}

.article {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.header {
  font-size: 80px;
  color: white !important;
  text-align: center;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-bottom: 3px solid #000;
}

.contactInput {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 0.5px solid #000;
  border-radius: 4px;
  padding: 3px;
  min-width: 100%;
}

.condiv
{
  padding: 100px ;
  background-color: #f4f5f9;
  flex:var(--condiv-flex);
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}

.skills ul li
{
  list-style-type:none;
  margin:30px;
}

.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover
{
  color: #ffffff;
}
.scard{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    -webkit-transition: transform .3s cubic-bezier(.155,1.105,.295,1.12),box-shadow .3s,-webkit-transform .3s cubic-bezier(.155,1.105,.295,1.12);
    transition: transform .3s cubic-bezier(.155,1.105,.295,1.12),box-shadow .3s,-webkit-transform .3s cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
}

.container {
  width: 100%;
  margin-top: 90px;
  padding-bottom: 10px;
}

.post-container {
  width: 950px;
  margin: auto;
  margin-bottom: 90px;
}

.work {
  display: flex;
  flex-direction: row;
  grid-template-rows: auto;
  grid-row-end: auto;
  grid-auto-rows: auto;
  flex-wrap: wrap;
}

.portfolioCard {
  border-radius: 4px;
  background-color: #fff;
  border-bottom: 3px solid #94633b;
  margin-top: 24px;
  height: auto;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
}

.portfolioCard img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.portfolioCard-header {
    color: #1b242f;
    font-size: 150%;
    background-color: inherit;
    border-bottom: 1px solid hsla(0,0%,62.7%,.2);
    position: relative;
    padding: 16px 24px;
}

.portfolioCard-content {
  padding: 16px;
  color: #1b242f;
  height: auto;
}

.portfolioCard-action {
  color: #fff;
  background-color: #04c2c9;
  font-size: 15px;
  padding: 16px 24px;
}

.taskCard {
  border-radius: 4px;
  background-color: #fff;
  border-bottom: 3px solid #94633b;
  margin-top: 24px;
  height: auto;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
}

.taskCard img {
  width: 90%;
}

.taskCard-header {
    color: #1b242f;
    font-size: 150%;
    background-color: inherit;
    border-bottom: 1px solid hsla(0,0%,62.7%,.2);
    position: relative;
    padding: 16px 24px;
}

.taskCard-content {
  padding: 16px;
  color: #1b242f;
  height: auto;
}

.taskCard-action {
  color: #fff;
  background-color: #04c2c9;
  font-size: 15px;
  padding: 16px 24px;
}

.bigContainer{
  min-height: 100vh;
}

.note {
  background-repeat:  no-repeat;
  background-position: 9px 19px;
  background-size:  7px auto;
  padding: 15px 29px;
  margin-bottom: 8px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-weight:  300;
  border-radius: 5px;
  box-shadow: 2px 2px 14px rgba(51, 51, 51, 0.2);
  opacity: 1;
  position: relative;
  border-left:  5px solid #51de96;
  cursor:  pointer;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeOut { from { opactiy:0.9; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}
.noteContent{
  margin: 0;
}
.closebtn {
    color: #414141;
    float: right;
    line-height: 1;
    cursor: pointer;
    font-size: 23px;
    position: absolute;
    top: 50%;
    right:  15px;
    transform: translateY(-50%);
}
.closebtn:hover {
    color: #AC2500;
}
.ui-state-highlight {
  height:  48px;
  background-color:  rgba(255,255,255,0.70);
  border-radius:  5px;
  border:  none;
  margin-bottom:  8px;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}

.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.reset div {
  margin-top: 7px;
}

.border-green-400 {
  background-color: rgb(148, 99, 59) !important;
}